@import 'tailwindcss';

:root {
  --brand: #4a90e2;
  --sub: #fafafa;
  --bg: #ffffff;
  --text: #1a1a2e;
  --text-light: #6b7280;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.625;
}

strong {
  color: var(--brand);
  font-weight: bold;
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 1fr));

  background-image: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0px,
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent calc(100% / 20)
  );
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.mini-no-transition {
  transition: none !important;
}

@layer utilities {
  /* Mini UI Styles */
  .mini-basic {
    @apply text-[var(--text)] bg-[var(--sub)] border border-gray-200;
  }

  .mini-brand {
    @apply bg-[var(--brand)] text-white;
  }

  .hover\:to-mini-brand:hover {
    @apply bg-[var(--brand)] text-white;
  }

  .mini-outline {
    @apply border border-[var(--brand)] text-[var(--brand)]
  }

}
